@charset "utf-8";
/*
 * avene 2013 10 
 */

/* Reset
================================================================================================= */
body{color:#000;background:#fff;font-size:12px;line-height:1.666em;}
body{font-family:"Microsoft YaHei",arial,SimHei,sans-serif;padding:1px 0 0;}
h1,h2,h3{font-size:100%;}
body,h1,h2,h3,h4,ul,li,p,img{margin:0;padding:0;border:0;}
img{margin:0;line-height:normal;}
em,i{font-style:normal;text-decoration:none}
ul{list-style:none;}
* {outline: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
textarea,input {-webkit-user-select: text;-khtml-user-select: text;-moz-user-select: text;-ms-user-select: text;user-select: text;}

/* Commonly Used 
================================================================================================= */
a{text-decoration:none}
.cs-clear{+zoom:1;}
.cs-clear:before,
.cs-clear:after{clear:both;content:".";font-size:0;display:block;height:0;overflow:hidden;visibility:hidden;}
.btn {cursor: pointer;}
.page-wrap {display: none;}
.hide-bar {height:1200px;width:2px;position: absolute;top:0;left:0;}

/* Page Used 
================================================================================================= */
.header-wrap {position: relative;height:176px;background: #fff;}
.header {height: 104px;}
.loading-line {border-bottom:1px solid #000;height:10px;width:0%;position: absolute;bottom:0;left:0;}
.logo{display:block;width:240px;height:104px;margin:0 auto;padding:1px 0 0;}
.logo img {margin-top:33px;}
.nav{display:none;height: 20px;text-align: center;padding:25px 0;}
    .nav a span {background: url('../img/nav.gif') no-repeat;display: inline-block;border-left:#000 solid 1px;height: 20px;line-height:999em;*line-height:0em;_line-height:0em;padding:0 79px;overflow: hidden}
    .nav a.navlink1 span {background-position:80px 0;width:134px;border:0;}
    .nav a.navlink2 span {background-position:-232px 0;width:114px;}
    .nav a.navlink3 span {background-position:-518px 0;width:135px;}
    .nav a.navlink1 span.on {background-position:80px -43px;width:134px;border:0;}
    .nav a.navlink2 span.on {background-position:-232px -43px;width:114px;}
    .nav a.navlink3 span.on {background-position:-518px -43px;width:135px;}
    .nav_inner {width:914px;display:inline-block;height: 20px;overflow: hidden}
    .mobile{display: none}
.share{display:none;font-size: 14px;position: absolute;right:30px;top:38px}
    .share p{float:left;padding:0 10px;line-height: 30px;}
    .sharelink{float:left;width:30px;height:30px;background: url('../img/shareicon.gif') no-repeat 0 0;}
    .share1{background-position: 0 0}
    .share2{background-position: -80px 0}
    .share3{background-position: -160px 0}
    .sharedot{float:left;height:30px;width:30px;background: url('../img/shareicon.gif') no-repeat -34px 0;}
.index{background:#000;position: absolute;top:176px;left:0;right:0;bottom:0;width:100%;}
    .indexbg{height:100%;display: block}
    .indexintro{background: url('../img/index_intro.png') no-repeat;position: absolute;width: 421px;height: 185px;right:185px;top:50%;margin: -180px 0 0}
    .indexbtn{display:block;background: url('../img/index_btn.png') no-repeat;position: absolute;width: 210px;height: 109px;;right:294px;top:50%;margin:60px 0 0 0}
.page1{text-align: center;}
    .page1video {width:90%!important;margin:0 auto;}
    #inner-video {width:100%!important;margin:0 auto;position: relative;}
    .page1video img{max-width:100%}
    .page1video video {width:100%;cursor: pointer;}
    .page1mess{text-indent:-999em;font-size:0;color:#fff;background: url('../img/page1mess.gif') no-repeat;width: 530px;height: 27px;margin:84px auto 26px}
    .page1btn{font-size:0;color:#fff;background: url('../img/page1btn.gif') no-repeat;width: 268px;height: 69px;margin:0 auto 68px;display:block}

.page2{max-width:1000px;min-width:848px;width:90%;margin: 0 auto;padding:60px 0 }
    .modintro{float:left;width: 418px;font-size: 14px;padding-top:35px;}
        .modintro h2{background:url('../img/page2tit1.gif') no-repeat center top;height:44px;text-indent:-999em;font-size: 18px;font-weight: normal;text-align: center;line-height: 64px;}
        .modtxt{padding-bottom: 80px;text-align: center;}
        .modintro p{padding:18px 0 0;line-height: 20px;}
        .modintrobtn{background: url('../img/modintrobtn.gif') no-repeat;font-size:0;color:#fff;width: 268px;height: 69px;margin:2px auto ;display:block}
.modintrobtn2{background: url('../img/modintrobtn2.gif') no-repeat;font-size:0;color:#fff;width: 268px;height: 69px;margin:30px auto 0 auto ;display:block}
    .modshare{float:right}
    .modsharetxt{font-size:14px;text-align: center;height:56px;margin:0;line-height: 70px;}
    .page2share{background: #000;position: fixed;top:0;left: 0;right: 0;bottom: 0;opacity: 0.5;filter:alpha(opacity=50); }
    .page2pop{position: fixed;width: 700px;height: 420px;left:50%;top:50%;margin: -210px 0 0 -350px;background: #fff;}
        .pop-rule {width: 1000px;height: 500px;margin: -250px 0 0 -500px;background:#000;color:#fff;-webkit-box-shadow: 0 0 20px 0 #000000;
            box-shadow: 0 0 20px 0 #000000;}
        .pop-weixin {width:450px;text-align: center;margin:-210px 0 0 -225px;}
        .pop-weixin .qrcode {margin:0 0 10px 0;}
        .page2popclose{position: absolute;background: url('../img/page2popclose.gif') no-repeat;width: 26px;height: 26px;right: 10px;top: 10px;cursor: pointer;}
        .pop-rule .page2popclose {background: url('../img/page2popclose2.gif') no-repeat;width:12px;height:12px;right: 50px;top: 50px;}
        .page2pop h2{font-size: 30px;height:50px;font-weight: normal;text-align: center;padding: 50px 0 0;}
        .page2poptxt{font-size: 14px;padding:22px 0 0;}
        .pop-rule .page2poptxt {font-size:13px;}
        .page2poptxt label{width:240px;float:left;text-align: right;}
        .page2poptxt p,
        .page2poptxt ul{float:left;width: 510px;padding:0 20px;}
        .pop-weixin .page2poptxt p {width:410px}
        .page2poptxt li{padding-bottom:0px;display: block;background: url('../img/pop_li.gif') no-repeat 0 9px;padding-left:15px;margin:0 0px 6px 0;}
        .modsharepho {margin-top:30px;}

.page3{position: relative;width:100%;}
    .page3-background-cover {background:#fff;width:100%;height:1000px;top:150px;left:0;position: absolute;}
    .page3bg {background: url('../img/page3bg.jpg') no-repeat fixed 0 200px;background-size:100% auto;}
    .page3img-wrap {height:800px;}
    .page3-title {background: #fff;padding-top:1px;height:424px;}
    .page3label {background: url('../img/page3labe.png') no-repeat;width:118px;height:136px;position:absolute;top:-70px;left:50%;margin-left:-60px;}
    .page3bgtxt{font-size:0;background:url('../img/page3tit.gif') no-repeat top;text-align: center;width:421px;margin:70px auto 60px auto;height: 101px;}
    .page3bgtxt2{font-size: 14px;text-align: center;line-height: 25px;width:610px;margin:0 auto 80px auto;background: url('../img/page3_topline.gif') no-repeat top;padding:50px 0 0;}
    .page3messwrap {background: #fff;}
    .page3mess{margin:0 auto 0;background:#fff;padding: 225px 0 0;height:460px;max-width: 1280px;position: relative;text-align: center;}
        .page3item{float:left;width:33%;}
            .page3item h3{padding: 0 0 30px}
            .page3txt{padding:20px 30px 0;line-height: 24px;font-size: 14px;}
    .page3pho{width:426px;height:940px;margin: 0 auto;text-align: right;}
    .paga3blackwrap {background:#000;padding-top:130px;}
    .page3btnbox{width: 860px;margin: 0 auto 130px;}
        .page3btn2wrap {margin:0 0 120px 0;}
        .page3btn1{text-indent:-999em;background: url('../img/page3btn1.gif') no-repeat;width: 268px;height: 69px;display:block;margin:0 auto 100px auto;}
        .page3price {color:#fff;text-align: center;font-size:18px;margin-top:20px;}
        .page3btn2{text-indent:-999em;background: url('../img/page3btn2.gif') no-repeat;width: 176px;height: 69px;margin:0 auto;display:block;position: relative;z-index:10;}
/**/
.footer{border-top:1px solid #000;background: #fff url('../img/logo2.gif') no-repeat center;width: 100%;height:145px }


@media screen and (min-width:641px){
    .touch .indexintro {right:50px;}
    .touch .indexbtn {right:160px;}
    .touch .page3bg {background: none;}
    .touch .page3img-wrap {background: url('../img/page3bg.jpg') no-repeat;background-size:100% auto;}
    .touch .page1video video {width:900px;height:506px;}
    .touch .ipad .turn_device {display: none;z-index:1000;position: fixed;top:0;left:0;width:100%;height:100%;background:#fff url(../imgMobile/ipad_turn.gif) no-repeat center;}
    .touch .turn_device {display: none;z-index:1000;position: fixed;top:0;left:0;width:100%;height:100%;background:#fff url(../imgMobile/device_turn.gif) no-repeat center;}
}

/* Mobile Used
================================================================================================= */
@media screen and (max-width:640px){
/**/
    body {font-size:22px;}
    .page-wrap {display: block;}
    .wrap {padding:1px 0 0;}
    .header-wrap {position: fixed;width:100%;z-index:10;background:#fff;top:0;height:auto;}
    .loading-wrap  {display: none;}
    .logo{background:url('../imgMobile/logo.png') no-repeat center;height: 98px;}
    .logo img {display: none!important;}
    .nav{display: none!important;}
    .share{display: none!important;}
    .desktop {display: none;}


    .mobile{display: block;}
        .mobile_navbtn{background: url('../imgMobile/navbtn.gif') no-repeat;width:57px;height: 45px;position: absolute;right:14px;top:30px}
        .mobile_options{display:none;position: fixed;right:0;top: 0;bottom: 0;background: #fff;width:550px;z-index: 10;border-left:#d4d4d4 solid 1px;
            box-shadow: 5px 0px 5px #ddd inset;-webkit-box-shadow: 5px 0px 5px #ddd inset;-moz-box-shadow: 5px 0px 5px #ddd inset;-ms-box-shadow: 5px 0px 5px #ddd inset;-o-box-shadow: 5px 0px 5px #ddd inset;}
            .mobile_logo{display:block;background:url('../imgMobile/logo.png') no-repeat center;height: 98px;border-bottom:#000 solid 1px }
            .mobile_nav a{text-align: center;font-size:28px;color:#000;border-bottom:#000 solid 1px;display:block;height:90px;line-height: 90px;}
            .mobile_nav a.on{color:#805211}
            /**/
            .mobile_share {display: none;}
            .sharelink{float:none;width:48px;height:48px;background: url('../imgMobile/shareicon.gif') no-repeat 0 0;display: block;margin:20px auto 0;}
            .share1{background-position: 0 0}
            .share2{background-position: 0 -137px}
            .share3{background-position: 0 -274px;}
            .sharedot{float:none;height:48px;width:48px;background: url('../imgMobile/shareicon.gif') no-repeat 0 -76px;display: block;margin:20px auto 0; }
    /**/
    .index{background: url('../imgMobile/indexpho.jpg') center top no-repeat;top:99px;position:fixed;height:949px;}
        .indexbg{display:none}
        .indexintro{background: url('../imgMobile/index_intro.png') no-repeat;width:270px;height: 118px;margin:0 0 0 -135px;top:50px}
        .indexbtn{background: url('../imgMobile/index_btn.png') no-repeat;height: 93px;margin:0 0 0 -110px;right:auto;left:50%;top:200px}
    .page1{text-align: center;margin-top:104px;}
        .page1video{width:100%!important;height:auto!important;overflow:visible;}
        .page1video video {}
        .page1video img{height:664px;max-width:1458px}
        .page1mess{text-indent:0;color:#000;text-align:center;background:none;width: 100%;height: 46px;margin:30px auto 56px;font-size:22px;}
        .page1btn{background: none;text-indent:0;text-align: center;border: 3px solid #bf9e57;width:380px;height:auto;padding:20px 0;color:#000;font-size:22px;}

    .page2{width:600px;max-width:100%;min-width:100%;margin: 0 auto 60px auto;padding:20px 0;margin-top:104px;}
        .modintro{float:none;margin:0 auto;font-size:18px;line-height: 24px;padding:0;}
            .modintro h2{font-size: 40px;background: none;text-indent: 0;height:95px;line-height:95px;}
            .modintro p{padding:24px 0 0;font-size:24px;line-height: 120%;}
            .modintrobtn{background:none;text-indent:0;text-align: center;border: 3px solid #bf9e57;width:300px;height:auto;padding:20px 0;color:#000;font-size:22px;}
            .modintrobtn2{background:none;text-indent:0;text-align: center;border: 3px solid #bf9e57;width:300px;height:auto;padding:20px 0;color:#000;font-size:22px;}
        .modshare{float:none;margin:60px auto 0}
            .modsharepho{text-align: center}
            .modsharetxt{width:418px;margin:40px auto 20px;padding:40px 0 0;background: none;font-size:24px;line-height: 140%;}
            .page2poptxt {font-size:16px;}
            .page2poptxt label {width:110px;text-align: left;margin-left:20px;}
            .pop-rule {width:600px;margin-left:20px;left:0;height:500px;margin-top:-250px;}
            .page2poptxt-wrap {height:400px;overflow: scroll;-webkit-overflow-scrolling: touch;}
        .pop-rule .page2poptxt {font-size:22px;}

    .page3bg {background: none;}
    .page3{overflow: hidden;margin-top:104px;}
    .page3img-wrap {height:800px;background: url('../img/page3bg.jpg') no-repeat;}
        .page3img{width:auto;height: 100%;background-size:cover;background: url('../img/page3bg.jpg') no-repeat;}
        .page3bgtxt {font-size:30px;line-height:150%;background: none;color:#bf9e57;}
        .page3bgtxt2{width:auto;margin:0 40px;font-size:20px;line-height: 140%;}
        .page3mess{position: static;width:600px;margin:0 auto;height:auto;padding:0 0 90px 0;}
        .page3item{position: static;margin:22px auto 0;width:520px;padding:80px 30px 0;height:auto;float:none;}
        .page3item1 {padding-top:104px;height:auto;}
        .page3item h3 {display: none;}
        .page3item h4 {font-weight: normal;border:none;color:#bf9e57;padding:0 0 10px 0;margin:0;font-size:28px;}
    .page3txt {font-size:20px;line-height: 140%;}
        .page3label {display: none;}
        .page3btnbox{width:600px;margin:0 auto}
        .page3btn1,
        .page3btn2{float: none;margin: 34px auto;background: none;text-indent:0;text-align: center;border: 3px solid #bf9e57;width:300px;padding:0;color:#fff;line-height:79px;height:79px}
        .page3btn1 {background:#fff;color:#000;}
        .page3price {font-size:26px;}
}
