.page2share {background: none;}
.page2pop h2 {height:60px;font-size:20px;font-weight: bold;}
.page3bgtxt {color:#fff;}
.modsharetxt {margin-left:70px;}
.modshare {float:left;margin-left:80px;}
.modintrobtn2 {margin-left:90px;}